# Entornos virtuales
.venv/
venv/
ENV/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store
Thumbs.db

# Datos y bases de datos locales (Excel)
BBDBancos.xlsx
data/

# Carpeta de movimientos ignorada
Movimientos/